:root {
  --c1: #E88D67;
  --c2: #F3F7EC;
  --c3: #006989;
  --c4: #005C78;
}

.logo-img{
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.pork-head {
  width: 50px;
  height: 50px;
  opacity: 0.5;
}

.header-text {
    text-align: center;
    color: var(--c1);
}

article img{
  border-radius: 50%;
  margin-bottom: 20px;
}

.social {
  text-align: center;
}

.social small {
  margin-right: 15px;
}

.box {
--mask:
    radial-gradient(34.99px at 50% calc(100% - 48px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(34.99px at 50% calc(100% + 18px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
-webkit-mask: var(--mask);
        mask: var(--mask);
}

.top {
  --top: 
   linear-gradient(#000 0 0) top/100% calc(100% - 50px) no-repeat,
   radial-gradient(farthest-side,#000 98%,#0000) bottom/100px 100px no-repeat;
  -webkit-mask: var(--top);
          mask: var(--top);
  background-color: var(--c3);
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.bottom {
  --bottom: radial-gradient(calc(10px + 50px) at 50% -10px,#0000 98%,#000);
  -webkit-mask: var(--bottom);
    mask: var(--bottom);
    margin-top: -85px;
    background-color: var(--c2);
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

/* .top {
  clip-path: polygon(0 0,100% 0,100% calc(100% - 50px),50% 100%,0 calc(100% - 50px));
  background-color: var(--c3);
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.bottom {
  clip-path: polygon(0 0,50% 50px,100% 0,100% 100%,0 100%);
  margin-top: -85px;
  background-color: var(--c2);
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
} */

.about h1{
  text-align: center;
}

.who-h1 {
  text-align: center;
}

.who p {
  text-align: left;
}

.about-pic img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
  display: block;
}

.about-pic h2,h5 {
  text-align: center;
}

.top a{
  color: white;
}

