:root {
  --c1: #E88D67;
  --c2: #F3F7EC;
  --c3: #006989;
  --c4: #005C78;
}

.logo-img{
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.header-text {
    text-align: center;
    color: var(--c1);
}

.social {
  text-align: center;
}

.box {
--mask:
    radial-gradient(34.99px at 50% calc(100% - 48px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(34.99px at 50% calc(100% + 18px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
-webkit-mask: var(--mask);
        mask: var(--mask);
}

.top {
  clip-path: polygon(0 0,100% 0,100% calc(100% - 50px),50% 100%,0 calc(100% - 50px));
  background-color: var(--c3);
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.top a{
  color: white;
}

.bottom {
  clip-path: polygon(0 0,50% 50px,100% 0,100% 100%,0 100%);
  margin-top: -70px;
  background-color: var(--c2);
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}